{% extends "base.html" %}
{% block title %}- Dieu{% endblock %}
{% block content %}
<section>
  <h1>L'Éternel</h1>
  <img src={{ url_for('static', filename='king.jpg') }} alt="Dieu des APPSINGEs" />
  <p>Il reigne sans partage sur le domaine des APPSINGEs. Ne le décevez pas. Ne provoquez pas son courroux.</p>
  <h2>Lui adresser la parole</h2>
  <ul>
    <li>APPSINGE1: Mr. Colosse - vouvoiement</li>
    <li>APPSINGE2: Colosse || Jonathan - tutoiment</li>
    <li>APPSINGE3: Bibi || Jojo - harcélement</li>
  </ul>
  <h2>Lui rendre visite</h2>
  <ul>
    <li>Ne pas entrer sans avoir reçu de réponse positive après avoir frappé à la porte.</li>
    <li>Ne pas s'asseoir sans avoir reçu de réponse positive après l'avoir demandé.</li>
    <li>Les offrandes alimentaires sont les bienvenues.</li>
  </ul>
</section>
{% endblock %}
